{% extends 'admin/layout.html.twig' %}

{% block page_title %}
    {{ 'title.admin.form.endpoint.list'|trans }}
{% endblock %}

{% block page_content %}
    <div class="max-w-(--breakpoint-xl) space-y-4">
        <div class="flex items-start justify-between flex-wrap">
            <a href="{{ path('app_admin_form_endpoint_new') }}" class="btn btn-primary ml-auto" data-turbo-frame="turbo-modal">
                {{ 'action.form.endpoint.new'|trans }}
            </a>
        </div>

        <twig:Table:Root>
            <twig:Table:Header>
                <twig:Table:Head>{{ 'label.form.endpoint.name'|trans }}</twig:Table:Head>
                <twig:Table:Head>{{ 'label.form.endpoint.url'|trans }}</twig:Table:Head>
                <twig:Table:Head>{{ 'label.form.endpoint.submissions'|trans }}</twig:Table:Head>
                <twig:Table:Head>{{ 'label.form.endpoint.actions'|trans }}</twig:Table:Head>
            </twig:Table:Header>

            <twig:Table:Body>
                {% for form in endpoints %}
                    <twig:Table:Row>
                        <twig:Table:Cell>{{ form.name }}</twig:Table:Cell>
                        <twig:Table:Cell>
                            <a href="{{ url('app_form_endpoint_submit', {'uid': form.uid}) }}" class="link font-medium" target="_blank" data-turbo="false">
                                {{ url('app_form_endpoint_submit', {'uid': form.uid}) }}
                            </a>
                        </twig:Table:Cell>
                        <twig:Table:Cell>{{ 0 }}</twig:Table:Cell>
                        <twig:Table:Cell>
                            <a href="{{ path('app_admin_form_endpoint_submission_list', {'id': form.id}) }}" class="link font-medium no-underline">
                                {{ 'label.form.endpoint.details'|trans }}
                            </a>

                            <a href="#">{{ 'label.form.endpoint.delete'|trans }}</a>
                        </twig:Table:Cell>
                    </twig:Table:Row>
                {% else %}
                    <twig:Table:Row>
                        <twig:Table:Cell colspan="4" class="text-center">{{ 'label.form.endpoint.no_endpoints'|trans }}</twig:Table:Cell>
                    </twig:Table:Row>
                {% endfor %}
            </twig:Table:Body>
        </twig:Table:Root>
    </div>
{% endblock %}
