{% extends 'admin/layout.html.twig' %}

{% block page_title_container %}
    <a href="{{ path('app_admin_form_endpoint_list') }}"
       class="inline-flex items-center gap-2 mb-4 font-medium text-sm text-neutral-600 hover:text-neutral-700"
    >
        &leftarrow; {{ 'action.admin.back_to_list'|trans }}
    </a>

    {{ parent() }}

    <div data-controller="clipboard" class="flex items-center gap-1 mt-1 w-fit text-sm text-neutral-600">
        <span data-clipboard-target="source" class="inline-block font-medium py-2 select-all">
            {{- url('app_form_endpoint_submit', {'uid': endpoint.uid}) -}}
        </span>

        <button data-clipboard-target="button" data-action="clipboard#copy" class="inline-flex gap-2 items-end p-2 font-medium" title="{{ 'action.copy'|trans }}">
            {{ ux_icon('heroicons:clipboard-document-20-solid', {'class': 'size-5'}) }}
            <span class="sr-only">{{ 'action.copy'|trans }}</span>
        </button>
    </div>
{% endblock %}

{% block page_title %}
    {{ endpoint.name }}
{% endblock %}

{% block page_content %}
    <div class="space-y-4">
        {{ include('admin/form/endpoint/_navbar.html.twig') }}

        {% block content %}{% endblock %}
    </div>
{% endblock %}
