{% extends 'admin/layout.html.twig' %}

{% block page_title_container %}
    <a href="{{ path('app_admin_form_endpoint_list') }}"
       class="inline-flex items-center gap-2 mb-4 font-medium text-sm text-neutral-600 hover:text-neutral-700"
    >
        &leftarrow; {{ 'action.admin.back_to_list'|trans }}
    </a>

    {{ parent() }}
{% endblock %}

{% block page_title %}
    {{ endpoint.name }}
{% endblock %}

{% block page_content %}
    <div>
        {{ include('admin/form/endpoint/_navbar.html.twig') }}

        <div class="space-y-4 mt-4">
            <h3 class="text-2xl font-bold mb-3">{{ 'title.admin.form.endpoint.submissions'|trans }}</h3>

            {{ dump(submissions) }}
        </div>
    </div>
{% endblock %}
