{% use 'layout/form/theme.html.twig' %}

{% block _activity_type_widget %}
	<div class="grid gap-2">
		{% for field in form.children %}
			<label
				for="{{ field.vars.id }}"
				class="grow flex items-start gap-2 text-sm px-3 py-2 rounded-md border border-neutral-300 ring ring-transparent cursor-pointer has-checked:ring-primary has-checked:border-primary"
			>
				{{ form_widget(field, {'attr': {'class': 'form-radio shrink-0 mt-0.5'}}) }}

				<div class="flex flex-col gap-1">
					<span class="text-neutral-700 font-medium">{{ field_label(field) }}</span>
					<span class="text-neutral-500">{{ field.vars.model.description|trans }}</span>
				</div>
			</label>
		{% endfor %}
	</div>
{% endblock %}

{#
{% block _lesson_title_widget %}
    {% set attr = attr|merge({'class': 'form-control py-3 text-4xl font-bold border-transparent focus:border-primary hover:border-neutral-300'}) %}

    {{- block('form_widget_simple') -}}
{% endblock %}
#}

{% block activity_title_widget %}
    {% set attr = attr|merge({'class': 'form-control py-3 text-4xl font-bold border-transparent focus:border-primary hover:border-neutral-300'}) %}

    {{- block('form_widget_simple') -}}
{% endblock %}


{% block _lesson_status_widget %}
    <div class="flex items-center gap-4">
        {% for field in form.children %}
            <label
                for="{{ field.vars.id }}"
                class="grow w-full flex items-start gap-2 text-sm px-3 py-2 rounded-md border border-neutral-300 ring ring-transparent cursor-pointer has-checked:ring-primary has-checked:border-primary"
            >
                {{ form_widget(field, {'attr': {'class': 'form-radio mt-1'}}) }}
                <div class="flex flex-col gap-1">
                    <span class="font-medium">{{ field_label(field) }}</span>
					<span class="text-neutral-500">{{ field.vars.description|trans }}</span>
                </div>
            </label>
        {% endfor %}
    </div>
{% endblock %}

{% block editor_widget %}
	<twig:Editor>
		{{ parent() }}
		{{ form_widget(outerScope.form, {'attr': {'data-editor-target': 'input'}}) }}
	</twig:Editor>
{% endblock %}

{% block dropzone_row %}
	{{ form_label(form) }}
	{{ form_errors(form) }}
	{{ form_widget(form) }}
{% endblock %}

{% block dropzone_widget %}
	{# TODO: Restricted max files based on currently already uploaded files #}
	{% dump form.vars %}
	<div class="space-y-3"
		 id="{{ form.vars.id }}-dropzone"
		 data-controller="dropzone"
		 data-dropzone-async-value="{{ form.vars.async ? 'true' : 'false' }}"
		 data-dropzone-endpoint-value="{{ url('app_upload_init') }}"
		 data-dropzone-max-size-value="{{ form.vars.max_size }}"
		 data-dropzone-max-files-value="{{ form.vars.max_files }}"
		 data-dropzone-active-class="!border-primary !bg-primary/5"
		 data-dropzone-progress-class="bg-primary"
		 data-dropzone-success-class="bg-green-600"
		 data-dropzone-error-class="bg-red-600"
	>
		<div>
			{{ form_widget(form, {'attr': {'data-dropzone-target': 'input', 'data-action': 'change->dropzone#preview'}}) }}
		</div>

		<div data-dropzone-target="dropzone"
			 class="hidden min-h-48 w-full max-w-screen-md p-4 rounded-lg cursor-pointer border-2 border-dashed border-neutral-300 transition-colors hover:bg-neutral-100"
			 data-action="dragenter->dropzone#highlight:prevent dragleave->dropzone#unHighlight:prevent drop->dropzone#handleDrop:prevent click->dropzone#browse:prevent"
		>
			<div class="flex flex-col items-center justify-center gap-2 text-sm [&_.help-text]:text-neutral-500 [&_.help-text]:font-medium">
				{{ ux_icon('hugeicons:cloud-upload', {'class': 'size-12 text-neutral-400'}) }}

				<div class="flex flex-col gap-1 text-center">
					<span class="text-neutral-500">{{ 'dropzone.label.drag_and_drop'|trans }}</span>
					<span>{{ 'dropzone.label.or'|trans }}</span>
					<button class="px-1.5 py-0.5 text-primary font-medium hover:text-primary/80" data-action="dropzone#browse:prevent">
						{{ 'dropzone.label.browse_files'|trans }}
					</button>
				</div>

				{{ form_help(form) }}
			</div>
		</div>

		<div data-dropzone-target="preview" class="space-y-3"></div>

		<button class="btn" type="button" data-variant="secondary" data-dropzone-target="trigger" data-action="dropzone#upload:prevent">
			{{ 'dropzone.action.upload_files'|trans }}
		</button>

		<template data-dropzone-target="template">
			<div class="flex items-center gap-2 py-2 px-4 border border-neutral-200 rounded-md">
				<div class="grow flex flex-col gap-1">
					<div class="space-y-0.5">
						<span class="block font-medium" data-preview-part="name"></span>
						<span class="block text-neutral-500 text-sm" data-preview-part="size"></span>
					</div>
					<div data-preview-part="progress-container" class="flex flex-col gap-1">
						<div class="bg-neutral-200 w-full rounded-lg">
							<div class="bg-primary h-1.5 rounded-lg" style="width: 0" role="progressbar" aria-valuemax="100" aria-valuemin="0" data-preview-part="progress"></div>
						</div>
						<span data-preview-part="status" class="text-sm text-neutral-500"></span>
					</div>
				</div>
				<button class="btn" type="button" data-variant="secondary" data-action="dropzone#remove">
					{{ 'dropzone.action.remove'|trans }}
				</button>
			</div>
		</template>
	</div>
{% endblock %}

{% block activity_attachments_widget %}
	<div class="space-y-2"
		 data-controller="admin--attachments"
		 data-admin--attachments-dropzone-outlet="#{{ form.vars.id }}-dropzone"
		 data-admin--attachments-max-allowed-files-value="{{ form.vars.max_files - form.vars.data|length }}"
		 data-action="dropzone:connected->admin--attachments#configure remote-file:deleted->admin--attachments#handleRemoved dropzone:file:added->admin--attachments#handleAdded dropzone:file:removed->admin--attachments#handleRemoved"
	>
		{{ form_widget(form) }}

		{% set attachments = form.vars.data|default([]) %}

		{% if attachments is not empty %}
			<div class="max-w-screen-md rounded-md border border-neutral-200 divide-y divide-neutral-100">
				{% for attachment in attachments %}
					{# @var attachment \App\Entity\Attachment #}
					<div data-controller="remote-file"
						 class="flex items-center justify-between gap-2 p-3 flex-wrap"
						 data-remote-file-url-value="{{ path('app_admin_attachment_delete', {'attachment': attachment.id}) }}"
						 data-remote-file-token-value="{{ csrf_token('delete-attachment-' ~ attachment.id) }}"
					>
						<div class="flex items-center gap-2">
							{{ ux_icon('hugeicons:file-attachment', {'class': 'size-6 text-neutral-500 [&>*]:stroke-[1.75]'}) }}
							<span class="font-medium text-sm">{{ attachment.originalName }}</span>
							<span class="text-neutral-500">&bullet;</span>
							<span class="text-sm text-neutral-500">{{ attachment.size|format_bytes }}</span>
						</div>
						<div>
							<a href="{{ path('app_attachment_download', {'name': attachment.name}) }}"
							   class="text-primary hover:text-primary/90 font-medium text-sm px-2 py-1"
							   target="_blank"
							>
								{{ 'action.attachment.download'|trans }}
							</a>

							<button
								type="button"
								data-action="remote-file#delete:prevent"
								class="text-red-600 hover:text-red-700 font-medium text-sm px-2 py-1"
							>
								{{ 'action.attachment.remove'|trans }}
							</button>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}

{#
{% block _lesson_content_widget %}
    <div data-controller="editor" class="relative">
        <div data-editor-target="toolbar" class="flex gap-2 items-center mb-4">
			<twig:Ui:Select:Root value="paragraph" placeholder="Select an option...">
				<twig:Ui:Select:Option value="paragraph" data-editor-command="paragraph">
					{{ ux_icon('lucide:align-left', {'class': 'size-5'}) }}
					Paragraph
				</twig:Ui:Select:Option>
				<twig:Ui:Select:Option value="heading-1" data-editor-command="heading-1">
					{{ ux_icon('lucide:heading-1', {'class': 'size-5'}) }}
					Heading 1
				</twig:Ui:Select:Option>
				<twig:Ui:Select:Option value="heading-2" data-editor-command="heading-2">
					{{ ux_icon('lucide:heading-2', {'class': 'size-5'}) }}
					Heading 2
				</twig:Ui:Select:Option>
			</twig:Ui:Select:Root>

            <button class="btn" data-variant="secondary" data-editor-command="bold">
                Bold
            </button>
        </div>

        <div data-editor-target="commandMenu" class="absolute min-w-48 min-h-32 p-3 rounded-md border border-neutral-200 bg-yellow-200 shadow-xs" popover="manual">
            Hello
        </div>
        <div data-editor-target="root" class="form-control min-h-72 editor-content hidden"></div>
        {{ form_widget(form, {'attr': {'data-editor-target': 'input'}}) }}
    </div>
{% endblock %}
#}
